/.idea/encodings.xml
/cmake-build-minsizerel/
/cmake-build-release-stm32/.cmake/api/v1/reply/codemodel-v2-691da76da580f3e3e3e8.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-71807e58bd038e71cb64.json
/cmake-build-debug/.cmake/api/v1/reply/index-2023-04-23T11-53-42-0109.json
/cmake-build-release-stm32/.cmake/api/v1/reply/index-2023-04-23T11-53-42-0114.json
/cmake-build-release-stm32/.cmake/api/v1/reply/target-smart.elf-Debug-6ad375d127dcf02a9aea.json
/cmake-build-debug/.cmake/api/v1/reply/target-smart.elf-Debug-7b4c1662457a74391b77.json
/cmake-build-release-stm32/.cmake/api/v1/reply/target-smart.elf-Release-ac030f49996787826570.json
/cmake-build-release-stm32/.cmake/api/v1/reply/target-smart.elf-RelWithDebInfo-6d859ea9c7b036684d43.json
